/* .root {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: var(--button-black);
  border-radius: 8px;
  border-image-source: linear-gradient(
    180deg,
    rgba(105, 255, 147, 0.5) 0%,
    rgba(105, 255, 147, 0.225) 55%,
    rgba(105, 255, 147, 0) 100%
  );
} */

.root {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: var(--button-black);
  border-radius: 8px;
  border: 1px solid #69ff93;
}

.root::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: -1px;
  z-index: -1;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
