.footer {
  margin-top: auto;
}

.content-container {
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url('/background.png');
  flex-grow: 1;
  background-size: 100% 100%;
}
