:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* colors */
  --navigation-color: #fdfdff;
  --button-black: #030809;
  --border: #25362e;
  --upgrade-text: #a7a7a7;
  --progress: #1a9156;
  --target-progress: #e3f9e3;
}

html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  flex: 1;
  margin: 0;
  background-color: black;
}

img {
  width: 100%;
  height: auto;
}

#root {
  height: 100%;
}
